   .container{
            height: 900px;
            width: 900px;
            background-color:wheat;
        }
         @media( max-width: 800px){
            .container{
            height: 900px;
            width: 900px;
           

        }
        img{
            height: 400px;
            width: 400px;
            border-radius: 50%;
        }
    }