  *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            position: relative;
            background-color:white;
        }
        .shape{
            width: 50px;
            height: 50px;
            margin: 10px;
            padding: 10px;
        }
        .work-area{
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: flex-start;
            background: linear-gradient(to right, #00c6ff,white, #cdf007);
            position: relative;
            top: 50px;
        }